<!DOCTYPE html>
<html lang="en">
<head>
  <title>three.ar.js - Spawn at Surface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no,
  minimum-scale=1.0, maximum-scale=1.0">
  <style>
    body {
      font-family: monospace;
      margin: 0;
      overflow: hidden;
      position: fixed;
      width: 100%;
      height: 100vh;
      -webkit-user-select: none;
      user-select: none;
    }
    #info {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 0);
      margin: 1em;
      z-index: 10;
      display: block;
      line-height: 2em;
      text-align: center;
    }
    #info * {
      color: #fff;
    }
    .title {
      background-color: rgba(40, 40, 40, 0.4);
      padding: 0.4em 0.6em;
      border-radius: 0.1em;
    }
    .links {
      background-color: rgba(40, 40, 40, 0.6);
      padding: 0.4em 0.6em;
      border-radius: 0.1em;
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>
</head>
  <body>
    <div class="ui sidebar inverted vertical menu">
      <a class="item">
        1
      </a>
      <a class="item">
        2
      </a>
      <a class="item">
        3
      </a>
    </div>
    <div class="pusher">
      <div id="info">
        <span class="title">Tap to spawn objects on surfaces.</span>
        <br/>
        <span class="links">
          <label id="minutes">00</label>:<label id="seconds">00</label>
          <a href="https://github.com/google-ar/three.ar.js">three.ar.js</a> -
          <a href="https://developers.google.com/ar/develop/web/getting-started#examples">examples</a>
          <button onClick="startLap()">Start Lap</button>
          <button onClick="pushWaypoint()">waypoint</button>
          <button onClick="sidebar()">sidebar</button>
        </span>
      </div>
    </div>
  </body>
<script src="{{ url_for('static', filename='js/three.js/three.js') }}"></script>
<script src="{{ url_for('static', filename='js/three.js/VRControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/three.ar.js') }}"></script>
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCYacS73Snab2b-gCTB-HpoGwt11xxb65c",
    authDomain: "ballar-tanda.firebaseapp.com",
    databaseURL: "https://ballar-tanda.firebaseio.com",
    projectId: "ballar-tanda",
    storageBucket: "",
    messagingSenderId: "1089183303076"
  };
  firebase.initializeApp(config);
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script>

var trackUid = 'alpha';
var track = {};
var frameData;

var lapUid;

var vrDisplay;
var vrControls;
var arView;

var canvas;
var camera;
var scene;
var renderer;
var cube;
var balls = [];
var arrows = [];
var BALL_SETTINGS = {
  'size': 0.05,
  'heightSegments': 4,
  'widthSegments': 4,
}
var startTime;
var raceStarted = false;
var numBalls = 0;

var BOX_SIZE = 0.2;

/**
 * Use the `getARDisplay()` utility to leverage the WebVR API
 * to see if there are any AR-capable WebVR VRDisplays. Returns
 * a valid display if found. Otherwise, display the unsupported
 * browser message.
 */
THREE.ARUtils.getARDisplay().then(function (display) {
  if (display) {
    vrDisplay = display;
    init();
  } else {
    THREE.ARUtils.displayUnsupportedMessage();
  }
});

function sidebar() {
 $('.ui.sidebar')
    .sidebar('toggle')
    ; 
}

function init() {
  console.log('heyoo mate')
  // Turn on the debugging panel
  var arDebug = new THREE.ARDebug(vrDisplay);
  document.body.appendChild(arDebug.getElement());

  // Setup the three.js rendering environment
  renderer = new THREE.WebGLRenderer({ alpha: true });
  renderer.setPixelRatio(window.devicePixelRatio);
  renderer.setSize(window.innerWidth, window.innerHeight);
  renderer.autoClear = false;
  canvas = renderer.domElement;
  document.body.appendChild(canvas);
  scene = new THREE.Scene();

  // Creating the ARView, which is the object that handles
  // the rendering of the camera stream behind the three.js
  // scene
  arView = new THREE.ARView(vrDisplay, renderer);

  // The ARPerspectiveCamera is very similar to THREE.PerspectiveCamera,
  // except when using an AR-capable browser, the camera uses
  // the projection matrix provided from the device, so that the
  // perspective camera's depth planes and field of view matches
  // the physical camera on the device.
  camera = new THREE.ARPerspectiveCamera(
    vrDisplay,
    60,
    window.innerWidth / window.innerHeight,
    vrDisplay.depthNear,
    vrDisplay.depthFar
  );

  // VRControls is a utility from three.js that applies the device's
  // orientation/position to the perspective camera, keeping our
  // real world and virtual world in sync.
  vrControls = new THREE.VRControls(camera);

  // map = [[0, 0, 0],
  //         [1.96, 2.07, -7.88],
  //           [-2.96, 2.04, -8.86]];

  // map = [[0, 0, 0],
  //        [1, 2, 0],
  //        [-2, -2, -2]];

  // for (let i = 0; i < map.length; i++) {
  //   var from = new THREE.Vector3(...map[i]);
  //   var to = new THREE.Vector3(...map[(i + 1) % map.length]);
  //   var length = 10;
  //   console.log(length);
  //   var hex = 0xff00ff;
  //   to.normalize();
  //   scene.add(new THREE.ArrowHelper(to, from, length, hex));
  // }

  //hemisphere light
  //var hemisphereLight = new THREE.HemisphereLight(0xffffff,0xff0000,1);
  //hemisphereLight.position.set(1, 0, 1).normalize();
  //scene.add(hemisphereLight);

  // White directional light at half intensity shining from the top.
  var directionalLight = new THREE.DirectionalLight( 0xffffff, 1 );
  scene.add( directionalLight );

  // Bind our event handlers
  window.addEventListener('resize', onWindowResize, false);
  // canvas.addEventListener('touchstart', onClick, false);

  firebase.database().ref('tracks').child(trackUid).once('value', trackCallback);
  // Kick off the render loop!
  update();
}

firebase.database().ref('signOn').push()

function pushWaypoint() {

  console.log("pushWaypoint trigger")

  if (!trackUid) {
    trackUid = firebase.database().ref('tracks').push().key
  }
  if (!frameData) {
    frameData = new VRFrameData();
  }
  vrDisplay.getFrameData(frameData);
  firebase.database().ref('tracks').child(trackUid).push().set(frameData.pose.position)
}

function trackCallback(trackSnapshot) {
  if (trackSnapshot) {
    track = trackSnapshot.val()
    console.log('new snapshot', track)
    // Arrow
    posList = Object.values(track);
    for (let i = 0; i < posList.length; i++) {
      let from = new THREE.Vector3(...posList[i]);
      let to = new THREE.Vector3(...posList[(i+1) % posList.length]);
      let length = from.distanceTo(to);
      let hex = 0xffff00;
      var dir = new THREE.Vector3();
      dir.subVectors(to,from).normalize();
      let arrowHelper = new THREE.ArrowHelper(dir, origin, length, hex);
      arrows.push(arrowHelper);
      scene.add(arrowHelper);
    }
  }
}

function setTime() {
  ++totalSeconds;
  secondsLabel.innerHTML = pad(totalSeconds % 60);
  minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
}

function pad(val) {
  var valString = val + "";
  if (valString.length < 2) {
    return "0" + valString;
  } else {
    return valString;
  }
}

function startLap() {
  startTime = Date.now();
  var minutesLabel = document.getElementById("minutes");
  var secondsLabel = document.getElementById("seconds");
  var totalSeconds = 0;
  setInterval(setTime, 1000);

  const ref = firebase.database().ref('laps').push()

  lapUid = ref.key

  ref.child('start').set(startTime)
}

function checkLapFinished() {

  console.log("check lap finished")
  if (!raceStarted || Date.now() - startTime < 5000) {return false}

  if (!trackUid) {
    trackUid = firebase.database().ref('tracks').push().key
  }
  if (!frameData) {
    frameData = new VRFrameData();
  }
  vrDisplay.getFrameData(frameData);
  let currentPos = frameData.pose.position;
  let targetPos = Object.values(track)[Object.values(track).length - 1];
  if ((currentPos[0]-targetPos[0] < 1 || targetPos[0]-targetPos[0] < 1) && (currentPos[1]-targetPos[1] < 1 || targetPos[1]-targetPos[1] < 1) && (currentPos[2]-targetPos[2] < 1 || targetPos[2]-targetPos[2] < 1)) {
    console.log('finished lap')
    let finishedTime = Date.now();

    if (lapUid) {
      firebase.database().ref('laps').child(lapUid).child('finish').set(finishedTime)
    }
    // Send to max
  }

}


/**
 * The render loop, called once per frame. Handles updating
 * our scene and rendering.
 */
function update() {
  // Clears color from the frame before rendering the camera (arView) or scene.
  renderer.clearColor();

  // Render the device's camera stream on screen first of all.
  // It allows to get the right pose synchronized with the right frame.
  arView.render();

  // Update our camera projection matrix in the event that
  // the near or far planes have updated
  camera.updateProjectionMatrix();

  // Update our perspective camera's positioning
  vrControls.update();

  // Render our three.js virtual scene
  renderer.clearDepth();
  renderer.render(scene, camera);

  // Kick off the requestAnimationFrame to call this function
  // when a new VRDisplay frame is rendered
  vrDisplay.requestAnimationFrame(update);

  checkLapFinished()
}

/**
 * On window resize, update the perspective camera's aspect ratio,
 * and call `updateProjectionMatrix` so that we can get the latest
 * projection matrix provided from the device
 */
function onWindowResize () {
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();
  renderer.setSize(window.innerWidth, window.innerHeight);
}
</script>
</body>
</html>
